/* ------ Navigation : Media queries ------- */

@media screen and (max-width: 550px) {
    nav li {
        margin: 0 0.5em;
    }
    nav a {
        font-size: 15px;
    }   
}

/* ------ Home effect : Medias queries ------- */

/* Computer size  */

@media screen and (max-width: 1350px) {
    .left-part-home {
        width: 60%;
    }
    .right-part-home {
        background-position: 72% 10% ;
    }
}

/* Tablet size  */

@media screen and (max-width: 750px) {
    .home {
        height: 35em;
    }
    h1 {
        font-size: 50px;
        padding-top: 3em;
    }
    .home p {
        font-size: 25px;
        margin-bottom: 0.5em;
    }
    .btn-home {
        font-size: 18px;
        padding: 0.5em;
        margin-top: 2em;
    }

    .left-part-home {
        width: 50%;
    }
}

/* Telephone size  */

@media screen and (max-width: 550px) {
    .home {
        height: 30em;
    } 
    h1 {
        font-size: 40px;
        padding-top: 3em;
        margin-left: 2vw;
    }
    .home p {
        font-size: 20px;
        margin-left: 2vw;
        margin-bottom: 0.4em;
    }

    .btn-home {
        padding: 0.2em;
    }
    .b1 {
        margin-left: 2vw;
    }
    .b2 {
        margin-left: 0.5em;
    }

    .left-part-home {
        box-shadow: 20px 0 100px 100px black;
        width: 40%;
    }

}

/* ------ Infos section : Medias queries ------- */

@media screen and (max-width: 1400px) {
    .infos-deco {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .title-info-section {
        font-size: 50px;
    }
}

@media screen and (max-width: 550px) {
    .title-info-section {
        font-size: 32px;
        padding: 40px 20px 40px;
    }
    .info-card {
        margin: 0 10px 45px;
    }
}