*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: Roboto, Helvetica, sans-serif;
    background: #f1f1f1;
}

/* ------ Navigation ------- */

nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 5em;
    background: black;
}

nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    margin: 0 2em;
}

nav a {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

/* ------ Home effect ------- */

.home {
    height: 45em;
    display: flex;
    overflow: hidden;
}

.left-part-home {
    position: relative;
    width: 40%;
    height: 100%;
    background: black;
    box-shadow: 90px 0 100px 100px black;
}

h1{
    color: #f1f1f1;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 90px;
    padding-top: 2em;
    padding-bottom: 0.5em;
    margin-left: 8vw; 
    white-space: nowrap;
}

.home p {
    color:#f1f1f1;
    font-size: 30px;
    text-align: justify;
    width: 20em;
    margin-left: 8vw;
    line-height: 1.3;
}

.cont-btn-home {
    display: flex;
}

.btn-home {
    font-size: 18px;
    text-align: center;
    color: #f1f1f1;
    padding: 0.8em;
    border-radius: 5px;
    margin-top: 3em;
    border: 1px solid #f1f1f1;
    width: 8em;
    cursor: pointer;
}

.btn-home:hover {
    transition: all 0.2s ease-in-out;
    color: black;
    background: #f1f1f1;
}

.b1 {
    margin-left: 8vw;
}
.b2 {
    margin-left: 10px;
}

.right-part-home {
    background-image: url(ressources/gym-accueil.jpg);
    width: 60%;
    height: 100%;
    background-position: 70% 10% ;
}